.container {
  max-width: 75rem;
  margin: 3rem auto 2rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 425px) {
  .container {
    padding: 0 1rem;
  }
}
